{% extends "base.html" %}

{% block title %}Add Criminal{% endblock %}

{% block content %}

<div class="card mx-auto my-5 p-4 col-6">
    <h2 class='mb-4'>Add a Criminal Here</h2>
    <form>

    <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name='fname' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name='lname' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label">Gender</label>
            <select class="form-select" id="floatingSelect" aria-label="Default select example">
              <option selected disabled>Select gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
    </div>

    <div class="mb-3">
        <label for="height" class="form-label">Height</label>
        <input type="number" class="form-control" id="height" name='height' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control" id="weight" name='weight' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label">Crime Level</label>
            <select class="form-select" id="floatingSelect" aria-label="Default select example">
              <option selected disabled>Select crime level</option>
              <option value=1>Level 1</option>
              <option value=2>Level 2</option>
              <option value=3>Level 3</option>
              <option value=4>Level 4</option>
              <option value=5>Level 5</option>
            </select>
    </div>

    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input type="text" class="form-control" id="status" name='status' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label">Police Station</label>
            <select class="form-select" id="floatingSelect" aria-label="Default select example">
              <option selected disabled>Select station</option>
              <option value=1>Station 1</option>
              <option value=2>Station 2</option>
              <option value=3>Station 3</option>
              <option value=4>Station 4</option>
              <option value=5>Station 5</option>
            </select>
    </div>

    <div class="mb-3">
        <label for="file" class="form-label">Picture</label>
        <input type="file" class="form-control" id="file" name='file' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Address</label>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

{% endblock %}