{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="card mx-auto my-5 p-4 col-6">
    <h2 class='mb-4'>LogIn Here</h2>
    <form>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" required>
    </div>

    <div id="emailHelp" class="form-text">Don't have an account? <a class='text-decoration-none' href="{% url "register_page" %}">Register</a></div>
    <br>
    <button type="submit" class="btn btn-primary">LogIn</button>
  </form>
</div>

{% endblock %}