{% extends "base.html" %}

{% block title %}Criminal Details{% endblock %}

{% block content %}

<div class="card mx-auto my-5 p-4 col-6">
    <h2 class='mb-4'>Criminal Details</h2>
    <form>

    <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control-plaintext" readonly value="Name of criminal" id="fname" name='fname' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control-plaintext" readonly value="last name of criminal" id="lname" name='lname' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label">Gender</label>
            <input class="form-control-plaintext" id="floatingSelect" readonly value="gender of criminal" aria-label="Default select example">
    </div>

    <div class="mb-3">
        <label for="height" class="form-label">Height</label>
        <input type="number" class="form-control-plaintext" id="height" name='height'readonly value=172 aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control-plaintext" id="weight" name='weight' readonly value=85 aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label" >Crime Level</label>
            <input class="form-control-plaintext" id="floatingSelect" readonly value="crime level of criminal" aria-label="Default select example">
    </div>

    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input type="text" class="form-control-plaintext" id="status" readonly value="status of criminal" name='status' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="floatingSelect" class="form-label">Police Station</label>
            <input class="form-control-plaintext" id="floatingSelect" readonly value="station of criminal" aria-label="Default select example">
    </div>

    <div class="mb-3">
        <label for="file" class="form-label">Picture</label>
        <input type="text" class="form-control-plaintext" readonly value="picture of criminal" id="file" name='file' aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <div class="form-floating">
          <textarea class="form-control-plaintext" readonly placeholder="Leave a comment here" id="floatingTextarea">address of criminal</textarea>
          <label for="floatingTextarea">Address</label>
        </div>
    </div>
    <br>
    <a href="{% url "edit_criminal" %}"><button type="button" class="btn btn-dark">Edit</button></a>
    
  </form>
</div>

{% endblock %}